<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
	     <title>
	      Tabela
	     </title>
         <!--Boxicon-->
	    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
         <style>
                table{
                        background-color: rgb(219, 216, 211);
                        height: 500px;
                        width: 1050px;
                        margin-left: 110px;
                    }

                th{
                    font-size: 23px;
                    background: linear-gradient(90deg, #D2FADF 0%, #00BE8A 90%);
                    text-shadow: white 0.1em 0.1em 0.2em;
                    color: black;
                }

                td{ 
                    padding-top: 15px;
                    background-color: rgb(214, 253, 233);
                    font-size: 25px;
                    font-style: bold;
                    color: #042b19;
                }

                tr{
                    text-align: center;
                }

                tr i{
                    font-size: 25px;
                    color: #0e7545;
                }
         </style>
	</head>
            <body>
                <table>
                    <th>Produto</th>
                    <th>Preço Unitário</th>
                    <th>Quantidade</th>
                    <th>Excluir</th>
                    <tr>
                        <td>
                            <figure>
                            <img src="https://i.imgur.com/tPXbfwa.jpg"width="150" height="100"/>
                            <figcaption>x-burguer vegano</figcaption>
                            </figure>
                        </td>
                        <td>R$ 40,00</td>
                        <td>
                            <i class='bx bxs-plus-square'></i>
                            <input type="search" class="quant-itens" placeholder="   0">
                            <i class='bx bxs-minus-square'></i>
                        </td>
                        <td><i class='bx bxs-x-square'></i></td>
                    </tr>
                    <tr>
                        <td>
                            <figure>
                            <img src="https://i.imgur.com/sU2Bgr2.jpg"width="150" height="100"/>
                            <figcaption>prato especial</figcaption>
                            </figure>
                        </td>
                        <td>R$ 30,00</td>
                        <td>
                            <i class='bx bxs-plus-square'></i>
                            <input type="search" class="quant-itens" placeholder="   0">
                            <i class='bx bxs-minus-square'></i>
                        </td>
                        <td><i class='bx bxs-x-square'></i></td>
                    </tr>
                    <tr>
                        <td>
                            <figure>
                            <img src="https://i.imgur.com/vFDpSkR.jpg"width="150" height="100"/>
                            <figcaption>vitamina especial</figcaption>
                            </figure>
                        </td>
                        <td>R$ 20,00</td>
                        <td>
                            <i class='bx bxs-plus-square'></i>
                            <input type="search" class="quant-itens" placeholder="   0">
                            <i class='bx bxs-minus-square'></i>
                        </td>
                        <td><i class='bx bxs-x-square'></i></td>
                    </tr>
                </table>	            
            </body>
</html>
