            
            h1{
                font-style:italic;
                color: rgb(245, 20, 166);
            }

            hr{
                border: 2px solid rgb(251, 159, 249);
            }

            body{
                background-color: rgb(253, 224, 254);
            }